@import-normalize;

@import './components/ColorPicker/ColorPicker.css';
@import './components/ColorBlock/ColorBlock.css';

body {
  margin: 0;
  background: -webkit-linear-gradient(90deg, #a0522d, #c04000);
  background: linear-gradient(90deg, #a0522d, #c04000);
}

.container {
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
